.App {
  text-align: center;
}


.App-header {
  padding-top: 70px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container{
  display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    margin: 50px;
    justify-content: center; 
}
.card{
    float: left;
    padding:0px;
    margin:0px;
    height: 100%;
    width:100%;
}
.card-body{
  position: relative;
}
.imgCard{
  height: 66%;
}

.btnCard{
  background-color:black;
  color: darkblue;
}

.pointer {cursor: pointer;}

.fixed-top{
  background-color:rgb(32, 35, 42);
}