.App {
  text-align: center;
}


.App-header {
  padding-top: 70px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container{
  display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    margin: 50px;
    justify-content: center; 
}
.card{
    float: left;
    padding:0px;
    margin:0px;
    height: 100%;
    width:100%;
}
.card-body{
  position: relative;
}
.imgCard{
  height: 66%;
}

.btnCard{
  background-color:black;
  color: darkblue;
}

.pointer {
  cursor: pointer;
  margin-top: 10px
}

.fixed-top{
  background-color:rgb(32, 35, 42);
}

.Rating{
  float: left;
  font-size: 70px;
  margin-top: 20px;
  margin-right: 10px;
}
.RatingPer{
  font-size: 80px;
  margin-top: 20px;
}
.detailsbtn{
  margin-top: 10px;
}
.ratings_count{
  margin-left: 4px;
}

.cardBody{
  height: 300px;
  margin: -17px;
  margin-top: 5px;
  padding-bottom: 0px
}


/* .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */